<div class="page-header">
  <h1>Sections</h1>
</div>

<div class="panel-group">
  <% @sections.each do |section| %>
    <div class="panel panel-default">
    <div class="panel-heading">
      <h2>
        <%= link_to section do %>
          <%= section.name %>
        <% end %>
      </h2>
    </div>
    </div>
  <% end %>
</div>

<% content_for(:adminbar) do %>
  <li><%= link_to 'New Section', new_section_path %></li>
<% end %>
