<div class="page-header">
  <h1>
    <%= @section.name %>
  </h1>
</div>

<p>
  <% if @section.chapter %>
    <strong>Chapter:</strong>
    <%= @section.chapter.name %>
  <% end %>
</p>

<!-- Section Lessons will be listed here -->

<% content_for(:adminbar) do %>
  <li>
    <%= link_to edit_section_path(@section) do %>
      Edit <%= @section.name %>
    <% end %>
  </li>
<% end %>
