<div class="page-header">
  <h1>Lessons</h1>
</div>

<ul class="nav nav-pills nav-stacked">
  <% @lessons.each do |lesson| %>
    <li>
      <%= link_to lesson do %>
        <%= lesson.name %>
      <% end %>
    </li>
  <% end %>
</ul>

<% content_for(:adminbar) do %>
  <li><%= link_to 'New Lesson', new_lesson_path %></li>
<% end %>
