<div class="page-header">
  <h1>Chapters</h1>
</div>

<ul class="nav nav-pills nav-stacked">
  <% @chapters.each do |chapter| %>
  <li>
    <%= link_to chapter do %>
      <%= chapter.name %>
    <% end %>
  </li>
  <% end %>
</ul>

<% content_for(:adminbar) do %>
  <li><%= link_to 'New Chapter', new_chapter_path %></li>
<% end %>
