<div class="page-header">
  <h1>Courses</h1>
</div>

<div class="panel-group">
  <% @chapters.each do |chapter| %>
    <div class="panel panel-default">
    <div class="panel-heading">
      <h2>
        <%= link_to chapter do %>
          <%= chapter.name %>
        <% end %>
      </h2>
    </div>
    </div>
  <% end %>
</div>

<%= link_to 'New Course', new_chapter_path %>
